<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>

	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span>NOVO SAQUE</span></li>
				</ul>
				<a class="btn btn-primary btn-md" href="/produtodash" role="button">
					<span class="oi oi-spreadsheet" title="Listar" aria-hidden="true"></span>
					<span>Listar Gastos</span>
				</a>
			</div>
		</nav>

		<div class="container" id="cadastro">

			<div th:replace="fragments/alert"></div>

			<form action="#"
				th:action=" ${gasto.id == null} ? @{/salvarGasto} : @{/editarGasto}"
				th:object="${gasto}" method="post">

				<div class="row">
					<input type="hidden" id="id" th:field="*{id}">
					<div class="form-group col-md-5">
						<label for="dataGasto">Data do gasto</label> <input
							th:field="*{dataGasto}" type="date" class="form-control"
							id="dataGasto" name="dataGasto" required="true" />

					</div>
					<div class="form-group col-md-3">
						<label for="valorGasto">Valor Gasto</label> <input required="true"
							retype="text" th:field="*{valorGasto}" class="form-control"
							id="valorGasto" data-mask="###0.00" data-mask-reverse="true"
							name="valorGasto" />
						<div class="invalid-feedback"></div>
					</div>

					<div class="form-group col-md-8">
						<label for="descricaoGasto">Descrever o Gasto</label>
						<textarea type="text" required="true" th:field="*{descricaoGasto}"
							class="form-control" id="descricaoGasto"></textarea>
					</div>

				</div>
				<div class="row">
					<div class="col-md-6 mt-5">
						<input type="submit" class="btn btn-primary" value="Salvar">
					</div>
				</div>
			</form>
		</div>
	</section>
</body>
</html>
